h1{
    color:blue;
    background-color: yellow;
    text-transform: capitalize;
}
#first{
    color:green;
    background-color: red;
    text-transform: capitalize;
    text-decoration: underline yellow solid;
    border-width: thick;
    border:solid green;
}
.not{
    color:pink;
    background-color: blue;
    text-transform: lowercase;
    border-width: medium;
    border:solid rgb(0, 0, 0);
}

p{
    background-color: black;
    border:solid green;
    color:white;
    border-width: thick;
    padding: 15px;
    margin: 10px;

}